<html>
  <head>
    <title>ChatApp</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/chat.css" />
  </head>

  <body>
    <div class="row">
      <div class="leftcolumn">
        <div class="row">
          <div class="chatheader">
            <h1><%= user.username %></h1>
            <span> <a href="/logout"> Logout</a></span>
          </div>
          <div class="overflowuser">
            <% for(var i=0; i < alluser.length; i++) { if(alluser[i].email !=
            user.email) { %>

            <div class="chatrow">
              <h1>
                <a
                  onclick="chatuser(`<%= alluser[i].unique_id %>`,this.innerText)"
                  ><%= alluser[i].username %></a
                >
              </h1>
            </div>
            <%} } %>
          </div>
        </div>
      </div>

      <div
        class="rightcolumnstart"
        id="rightcolumnstart"
        style="display: block"
      >
        <h1>Welcome to ChatApp</h1>
        <h3>Please Select user and start chating</h3>
      </div>

      <div class="rightcolumn" id="rightcolumn" style="display: none">
        <div class="chatboxheader">
          <h1 id="chatusername">User Not Selected</h1>
        </div>

        <div class="chatboxbody" id="chat"></div>

        <div class="chatboxinput">
          <form onsubmit="appendmessage()" method="dialog" action="">
            <textarea
              id="msg"
              rows="1"
              placeholder="write message here......"
            ></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
      var io = io();

      var sender = `<%= user.unique_id %>`;
      var receiver = "";
      var storemsg = "";
      var objDiv = document.getElementById("chat");
      objDiv.scrollTop = objDiv.scrollHeight;

      io.on("store-messages", function (result) {
        storemsg = result;
      });

      function chatuser(uid, name) {
        document.getElementById("rightcolumn").style.display = "block";
        document.getElementById("rightcolumnstart").style.display = "none";

        const chatusername = document.getElementById("chatusername");
        chatusername.innerText = name;
        receiver = uid;
        const chat = document.getElementById("chat");
        chat.innerHTML = "";

        if (storemsg != null) {
          for (var i = 0; i < storemsg.length; i++) {
            if (
              (storemsg[i].from == sender && storemsg[i].to == receiver) ||
              (storemsg[i].from == receiver && storemsg[i].to == sender)
            ) {
              if (storemsg[i].from == sender) {
                const chat = document.getElementById("chat");
                const msg = `<div class="msgbox"><p class="right">${storemsg[i].msg}</p></div>`;
                chat.innerHTML += msg;
              } else if (storemsg[i].to == sender) {
                const chat = document.getElementById("chat");
                const msg = `<div class="msgbox"><p class="left">${storemsg[i].msg}</p></div>`;
                chat.innerHTML += msg;
              }
            }
          }
        }
      }

      function appendmessage() {
        const message = document.getElementById("msg").value;
        io.emit("send_message", {
          from: sender,
          to: receiver,
          message: message,
        });

        objDiv.scrollTop = objDiv.scrollHeight;
        document.getElementById("msg").value = "";
      }

      io.on("new_message", function (data) {
        if (
          (data.from == sender && data.to == receiver) ||
          (data.from == receiver && data.to == sender)
        )
          if (data.from == sender) {
            const chat = document.getElementById("chat");
            const msg = `<div class="msgbox"><p class="right">${data.message}</p></div>`;
            chat.innerHTML += msg;
          } else if (data.to == sender) {
            const chat = document.getElementById("chat");
            const msg = `<div class="msgbox"><p class="left">${data.message}</p></div>`;
            chat.innerHTML += msg;
          }
      });
    </script>
  </body>
</html>
