<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/chat.css" />

    <script>
      var io = io("http://localhost:3000");
    </script>
  </head>

  <body>
    <div class="row">
      <div class="leftcolumn">
        <div class="row">
          <div class="chatheader">
            <h1><%= user.username %></h1>
            <span> <a href="/logout"> Logout</a></span>
          </div>
          <div class="overflowuser">
            <% for(var i=0; i < alluser.length; i++) { if(alluser[i].email !=
            user.email) { %>

            <div class="chatrow">
              <h1>
                <a
                  onclick="chatuser(`<%= alluser[i].unique_id %>`,this.innerText)"
                  ><%= alluser[i].username %></a
                >
              </h1>
            </div>
            <%} } %>
          </div>
        </div>
      </div>

      <div class="rightcolumn" id="rightcolumn" style="display: none">
        <div class="chatboxheader">
          <h1 id="chatusername">User Not Selected</h1>
        </div>

        <div class="chatboxbody" id="chat">
          <div class="msgbox"><p class="left">hi</p></div>

          <div class="msgbox"><p class="right">hi</p></div>
        </div>

        <div class="chatboxinput">
          <form onsubmit="appendmessage()" method="dialog" action="">
            <textarea
              id="msg"
              rows="1"
              placeholder="write message here......"
            ></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var objDiv = document.getElementById("chat");
      objDiv.scrollTop = objDiv.scrollHeight;

      function appendmessage() {
        const chat = document.getElementById("chat");
        const message = document.getElementById("msg").value;
        const msg = `<div class="msgbox"><p class="right">${message}</p></div>`;
        chat.innerHTML += msg;
        objDiv.scrollTop = objDiv.scrollHeight;
        document.getElementById("msg").value = "";
      }

      function chatuser(uid, name) {
        document.getElementById("rightcolumn").style.display = "block";
        console.log(uid);
        const chatusername = document.getElementById("chatusername");
        chatusername.innerText = name;
      }
    </script>
  </body>
</html>
